

<div id="reservations">
  <%= calendar do |time| %>
    <%
    @reservations[time].try(:each) do |m|
  %>
  <div class="reservation">
    <%= link_to m.id, m %><br />
    <%= m.start_time.strftime("%H:%M") %> a <%= m.end_time.strftime("%H:%M") %>
    <%= m.kind %>
    <%= m.status %>
  </div>
  <% end %>
  <% end %>
</div>
